/* Variables */
:root {
	--primary-color: #fd3746;
	--font-color: #252525;
}

/* Reset */
body,
a,
h1,
h2,
h3,
ul,
li {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

li {
	list-style-type: none;
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Base Styles */

body {
	font-family: 'Roboto', sans-serif;
}

header {
	height: 100vh;
	background: url(../assets/about_us_hero_620.jpg) center center no-repeat;
	background-size: cover;
	position: relative;
}

nav {
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: url(../assets/menu_background_620.jpg) center center no-repeat;
	background-size: cover;
}

nav ul li {
	text-transform: uppercase;
	text-align: center;
	line-height: 2;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
	transition: color 0.7s;
}

nav ul li:hover {
	color: var(--primary-color);
}

button {
	border: none;
}

/* MOBILE STYLES */

/* -- Nav Section */
#menu-btn {
	position: absolute;
	top: 5%;
	right: 5%;
	z-index: 999;
	background-color: var(--primary-color);
	padding: 7px 6px 5px 6px;
	border: none;
	border-radius: 100%;
}

/* -- Hero Section -- */
.hero {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-container {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: white;
}

.hero-container h1 {
	font-size: 6rem;
}

.hero-container h2 {
	font-size: 2rem;
	font-weight: 400;
	margin-top: -15px;
	margin-bottom: 10px;
}

.hero-container h3 {
	font-size: 1rem;
	font-weight: 300;
}

.bridge {
	position: relative;
	z-index: 99;
	text-align: center;
	color: var(--font-color);
	padding: 5%;
}

.bridge h2,
.bridge h3 {
	text-transform: uppercase;
	position: inherit;
}

.bridge p {
	position: inherit;
}

.divider-minus {
	width: 100%;
	height: 90px;
	background-color: white;
	transform: skewY(-6deg);
	transform-origin: top left;
}

/* -- Grid photo card -- */

.photo-grids {
	background-color: var(--primary-color);
}

.grid-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 400px;
	padding-bottom: 60px;
}

.grid-card h2,
h3,
button {
	color: white;
}

.grid-card h2 {
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 400;
}

.grid-card h3 {
	font-weight: 300;
}

.grid-card button {
	font-size: 1.2rem;
	background-color: transparent;
}

.card-1 {
	margin-top: -45px;
	background: url(../assets/grid_photo_1.jpg) center center no-repeat;
	background-size: cover;
}

.card-2 {
	background: url(../assets/grid_photo_2.jpg) center center no-repeat;
	background-size: cover;
}

.card-3 {
	background: url(../assets/grid_photo_3.jpg) center center no-repeat;
	background-size: cover;
}

.card-4 {
	background: url(../assets/grid_photo_4.jpg) center center no-repeat;
	background-size: cover;
}

.card-5 {
	background: url(../assets/grid_photo_5.jpg) center center no-repeat;
	background-size: cover;
}

.card-6 {
	background: url(../assets/grid_photo_6.jpg) center center no-repeat;
	background-size: cover;
}

.divider-plus {
	width: 100%;
	height: 90px;
	background-color: white;
	transform: skewY(6deg);
	transform-origin: top left;
	margin-top: -45px;
}

/* -- Footer -- */

footer {
	height: 489px;
	background: url(../assets/about_us_footer_620.jpg) 40% center no-repeat;
	background-size: cover;
	color: white;
	padding: 30px;
}

footer h3 {
	text-transform: uppercase;
	font-weight: 400;
}

.footer-links {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	line-height: 2;
	border: 1px solid white;
	color: white;
	cursor: pointer;
}

.copy-right {
	text-align: center;
}

/* SMALL TABLET STYLES */
@media screen and (min-width: 620px) {
	header {
		background: url(../assets/about_us_hero.jpg) center center no-repeat;
		background-size: cover;
	}

	nav {
		background: url(../assets/menu_background.jpg) center center no-repeat;
		background-size: cover;
	}
}

/* LARGE TABLET & LAPTOP STYLES */
@media screen and (min-width: 960px) {
	header {
		background: url(../assets/about_us_hero.jpg) center center no-repeat;
		background-size: cover;
	}

	nav {
		background: url(../assets/menu_background.jpg) center center no-repeat;
		background-size: cover;
	}
}

/* DESKTOP STYLES */
@media screen and (min-width: 1200px) {
	header {
		background: url(../assets/about_us_hero.jpg) center center no-repeat;
		background-size: cover;
	}

	nav {
		background: url(../assets/menu_background.jpg) center center no-repeat;
		background-size: cover;
	}

	nav ul li {
		font-size: 3rem;
	}

	.hero-container h1 {
		font-size: 12.5rem;
	}

	.hero-container h2 {
		font-size: 4.37rem;
		font-weight: 400;
		margin-top: -45px;
		margin-bottom: 20px;
	}

	.hero-container h3 {
		font-size: 2.25rem;
		font-weight: 400;
	}
}
